<div class="table-block">
  <div class="header-block">
    <span class="title">Credentials</span>
    <i class="pi pi-user-edit" (click)="credentialsFormGroup.controls['isEdit'].setValue(!credentialsFormGroup.controls['isEdit'].value)"></i>
  </div>

  <div class="content-block">
    <form [formGroup]="credentialsFormGroup">
      <table>
        <tr>
          <td>E-mail</td>
          <td>
            <span *ngIf="!credentialsFormGroup.controls['isEdit'].value">{{credentialsFormGroup.controls['email'].value}}</span>
            <ng-container *ngIf="credentialsFormGroup.controls['isEdit'].value">
              <p-button label="Change E-mail" styleClass="p-button-text"></p-button>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>
            <span *ngIf="!credentialsFormGroup.controls['isEdit'].value">********</span>
            <ng-container *ngIf="credentialsFormGroup.controls['isEdit'].value">
              <p-button label="Refresh password" styleClass="p-button-text"></p-button>
            </ng-container>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
