<section class="filter-panel">

  <div>
    <label class="title">Filters</label>
    <img ngSrc="assets/icons/filter.svg" height="22" width="21" alt="" class="ml-3">
  </div>

  <div class="fields-block mt-5 text-center">
    <mat-label class="title">Price</mat-label>
    <mat-button-toggle-group class="mt-2"
                             [value]="shopFiltersStateService.state.selectedPriceSorted"
                             (valueChange)="priceSortDirectionChange($event)">
      <mat-button-toggle *ngFor="let priceSortedType of shopFiltersStateService.state.sortDirectionTList" [value]="priceSortedType">{{SortDirectionType[priceSortedType]}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field class="fields-block mt-3">
    <mat-label>Category</mat-label>
    <mat-select class="ml-3" [value]="this.shopFiltersStateService.state.selectedCategoryType" (valueChange)="categoryTypeChange($event)">
      <mat-option *ngFor="let categoryType of this.shopFiltersStateService.state.categoryTList" [value]="categoryType.type">
        {{categoryType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fields-block">
    <mat-label>Subcategory</mat-label>
    <mat-select class="ml-3" [value]="this.shopFiltersStateService.state.selectedSubcategoryType" (valueChange)="subcategoryTypeChange($event)">
      <mat-option *ngFor="let subcategory of this.shopFiltersStateService.state.subcategoryTList" [value]="subcategory.type">
        {{subcategory.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="applyFilters()" mat-raised-button class="fields-block">Apply</button>
</section>
