<section class="filter-panel">

  <div>
    <label class="title">Filters</label>
    <img ngSrc="assets/icons/filter.svg" height="22" width="21" alt="" class="ml-3">
  </div>

  <div class="fields-block mt-5">
    <label class="title">Price, USD</label>
    <div class="fields">
      <mat-form-field>
        <mat-label>From</mat-label>
        <input type="number" matInput placeholder="0">
      </mat-form-field>
      <span class="text-5xl mx-2">-</span>
      <mat-form-field>
        <mat-label>To</mat-label>
        <input type="number" matInput placeholder="0">
      </mat-form-field>
    </div>
  </div>

  <div class="fields-block">
    <label class="title">Weight, kg</label>
    <div class="fields">
      <mat-form-field>
        <mat-label>From</mat-label>
        <input type="number" matInput placeholder="0">
      </mat-form-field>
      <span class="text-5xl mx-2">-</span>
      <mat-form-field>
        <mat-label>To</mat-label>
        <input type="number" matInput placeholder="0">
      </mat-form-field>
    </div>
  </div>

  <div class="fields-block">
    <label class="title">Expiry date, months</label>
    <div class="fields">
      <mat-form-field>
        <mat-label>From</mat-label>
        <input type="number" matInput placeholder="0">
      </mat-form-field>
      <span class="text-5xl mx-2">-</span>
      <mat-form-field>
        <mat-label>To</mat-label>
        <input type="number" matInput placeholder="0">
      </mat-form-field>
    </div>
  </div>

  <div class="fields-block">
    <label class="title">Type</label>
    <div class="fields">
      <mat-radio-group class="flex flex-column" style="color: #ffffff;">
        <mat-radio-button value="1">Fresh</mat-radio-button>
        <mat-radio-button value="2">Frozen</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="fields-block">
    <label class="title">Producing country</label>
    <div class="fields">
      <mat-radio-group class="flex flex-column" style="color: #ffffff;">
        <mat-radio-button value="1">Ukraine</mat-radio-button>
        <mat-radio-button value="2">Norway</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

</section>
