.filter-panel {
  background-color: var(--primary-lighter-color);
  padding: 30px 25px;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
  }

  .fields-block {
    .title {
      font-size: 16px;
    }

    .fields {
      margin-top: 8px;
    }

    mat-form-field {
      max-width: 95px;
    }
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
::ng-deep mat-radio-group mat-radio-button .radio_button {
  color: #556EE6;
}
