.category-type-card {
  height: 450px;
  width: 330px;

  .type-text {
    color: var(--grafit-color);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }

  img {
    margin-top: 10px;

    height: 390px;
    width: 300px;
  }
}
