<section class="about-us-section">
  <div class="h-full flex flex-column align-items-center">
    <h4 class="uppercase my-6 text-4xl text-color-secondary">Why us ?</h4>
    <div class="flex flex-wrap justify-content-center why-us-cards">
      <home-about-us-card class="m-4"></home-about-us-card>
      <home-about-us-card class="m-4"></home-about-us-card>
      <home-about-us-card class="m-4"></home-about-us-card>
      <home-about-us-card class="m-4"></home-about-us-card>
      <home-about-us-card class="m-4"></home-about-us-card>
      <home-about-us-card class="m-4"></home-about-us-card>
    </div>
  </div>
</section>
