<section class="item-card">

  <img src="assets/images/img_1.png" alt="">

  <article class="name">Headless tiger shrimp some more text and some moore</article>

  <div class="price-block">
    <span class="">Price: 17.10 $/kg</span>
    <button mat-button matTooltip="Add to compare filled">
      <img ngSrc="assets/icons/compare-filled.svg" height="25" width="25" alt="">
    </button>
  </div>

  <div class="tags">
    Tags
  </div>

  <button mat-raised-button color="primary">Add to cart</button>

</section>
