.filter-panel {
  background-color: var(--primary-color);
  padding: 30px 25px;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: white;
  }

  .refresh-button {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .close-popup-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    color: white;
    margin-bottom: 100px;
  }
}
