.item-card {
  height: 450px;
  width: 330px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;

  .image {
    height: 205px;
    width: 330px;
    object-fit: contain;
  }

  .name {
    height: 70px;
    width: 330px;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    color: var(--grafit-color);
  }

  .payment-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: var(--gray-color)
  }

  .tags {
    ::ng-deep .tag {
      margin: 0.5rem;
      font-weight: 300;
      font-size: 1rem;
    }
  }
}
