<section class="category-section">
  <div class="h-full flex flex-column align-items-center">
    <h4 class="uppercase my-6 text-4xl">Products</h4>
    <div class="flex justify-content-center flex-wrap">
      <home-category-type-card [categoryTModel]="categoryTModel"
                               *ngFor="let categoryTModel of categoryTListModel"></home-category-type-card>
    </div>
    <button (click)="routeHelper.goToCategory()" mat-raised-button class="text-lg p-4 my-3">See more</button>
  </div>
</section>
