<div *ngIf="orderStateService.state.orderEntityCount === 0" class="order-entity-empty">
  <h3 class="uppercase">No order</h3>
  <img src="assets/icons/sad-bag.svg" alt="">
  <p-button (click)="routeHelper.goToShop()" styleClass="mt-5">Go to shop</p-button>
</div>

<div *ngIf="orderStateService.state.orderEntityCount > 0" class="flex flex-wrap justify-content-center my-5">

  <form [formGroup]="orderFormGroup" class="orderForm">
    <span class="title">Making an order</span>

    <span class="chapter">Personal data</span>
    <div class="flex-wrapper">
      <div>
        <label>Name <span class="text-red-600">*</span></label>
        <input pInputText formControlName="name"/>
        <small *ngIf="orderFormGroup.controls['name'].hasError('required') && isShowErrors" class="p-error">Name is <strong>required</strong></small>
        <small *ngIf="orderFormGroup.controls['name'].hasError('minlength') && isShowErrors" class="p-error">Name should have at least 2 characters</small>
      </div>

      <div>
        <label>Surname <span class="text-red-600">*</span></label>
        <input pInputText formControlName="surname"/>
        <small *ngIf="orderFormGroup.controls['surname'].hasError('required') && isShowErrors" class="p-error">Surname is <strong>required</strong></small>
        <small *ngIf="orderFormGroup.controls['surname'].hasError('minlength') && isShowErrors" class="p-error">Surname should have at least 2 characters</small>
      </div>
    </div>

    <div class="p-fluid">
      <label>Phone <span class="text-red-600">*</span></label>
      <input pInputText formControlName="phone"/>
      <small *ngIf="orderFormGroup.controls['phone'].hasError('required') && isShowErrors" class="p-error">Phone is <strong>required</strong></small>
    </div>

    <div class="p-fluid">
      <label>E-mail <span class="text-red-600">*</span></label>
      <input pInputText formControlName="email"/>
      <small *ngIf="orderFormGroup.controls['email'].hasError('required') && isShowErrors" class="p-error">E-mail is <strong>required</strong></small>
      <small *ngIf="orderFormGroup.controls['email'].hasError('email') && isShowErrors" class="p-error">Please enter a valid email address</small>
    </div>

    <span class="chapter">Delivery</span>
    <div class="p-fluid">
      <label>Country <span class="text-red-600">*</span></label>
      <input pInputText formControlName="country"/>
      <small *ngIf="orderFormGroup.controls['country'].hasError('required') && isShowErrors" class="p-error">Country is <strong>required</strong></small>
    </div>

    <div class="p-fluid">
      <label>City <span class="text-red-600">*</span></label>
      <input pInputText formControlName="city"/>
      <small *ngIf="orderFormGroup.controls['city'].hasError('required') && isShowErrors" class="p-error">City is <strong>required</strong></small>
    </div>

    <div class="p-fluid">
      <label>Street <span class="text-red-600">*</span></label>
      <input pInputText formControlName="street"/>
      <small *ngIf="orderFormGroup.controls['street'].hasError('required') && isShowErrors" class="p-error">Street is <strong>required</strong></small>
    </div>

    <div class="flex-wrapper">
      <div>
        <label>Apartment number <span class="text-red-600">*</span></label>
        <p-inputNumber pKeyFilter="int" formControlName="apartmentNumber"/>
        <small *ngIf="orderFormGroup.controls['apartmentNumber'].hasError('required') && isShowErrors" class="p-error">Number is <strong>required</strong></small>
      </div>

      <div>
        <label>Floor</label>
        <p-inputNumber pKeyFilter="int" formControlName="floor"/>
      </div>
    </div>

    <div class="flex-wrapper">
      <div>
        <label>Entrance</label>
        <p-inputNumber pKeyFilter="int" formControlName="entrance"/>
      </div>
      <div>
        <label>Intercom</label>
        <p-inputNumber pKeyFilter="int" formControlName="intercom"/>
      </div>
    </div>

    <div class="p-fluid">
      <label>Zip code <span class="text-red-600">*</span></label>
      <input pInputText formControlName="zipCode"/>
      <small *ngIf="orderFormGroup.controls['zipCode'].hasError('required') && isShowErrors" class="p-error">Zip code is <strong>required</strong></small>
    </div>

    <span class="chapter">Payment method</span>
    <p-dropdown [options]="paymentMethodTList"
                (onChange)="orderFormGroup.controls['paymentMethodType'].setValue($event?.value)"
                optionLabel="name"
                optionValue="type"
                styleClass="w-full text-left">
    </p-dropdown>

    <div class="payment-system-block" *ngIf="orderFormGroup.controls['paymentMethodType'].value === PaymentMethodType.Card">
      <div class="p-fluid">
        <label>Number of card <span class="text-red-600">*</span></label>
        <p-inputMask [required]="orderFormGroup.controls['paymentMethodType'].value === PaymentMethodType.Card"
                     formControlName="numberCard" placeholder="____-____-____-____" mask="9999-9999-9999-9999" styleClass="w-full"></p-inputMask>
        <small *ngIf="orderFormGroup.controls['numberCard'].hasError('invalid') && isShowErrors" class="p-error">The card in not valid</small>
      </div>
      <div class="flex-wrapper">
        <div>
          <p-inputMask [required]="orderFormGroup.controls['paymentMethodType'].value === PaymentMethodType.Card"
                       formControlName="monthYear" placeholder="mm/yy" mask="99/99" styleClass="text-center"></p-inputMask>
          <small *ngIf="orderFormGroup.controls['monthYear'].hasError('invalid') && isShowErrors" class="p-error">The month or year in not valid</small>
        </div>
        <div>
          <p-inputMask [required]="orderFormGroup.controls['paymentMethodType'].value === PaymentMethodType.Card"
                       formControlName="cvv" placeholder="CVV" mask="999" styleClass="text-center"></p-inputMask>
          <small *ngIf="orderFormGroup.controls['cvv'].hasError('invalid') && isShowErrors" class="p-error">The cvv in not valid</small>
        </div>
      </div>
    </div>

    <div class="payment-system-block" *ngIf="orderFormGroup.controls['paymentMethodType'].value === PaymentMethodType.PayPal">

    </div>

    <p-button (click)="addNote()" label="Add Note" styleClass="p-button-outlined w-full mt-3"></p-button>
    <p-button (click)="confirm()" type="submit" label="Confirm" styleClass="w-full mt-2"></p-button>
  </form>

  <p-divider layout="vertical" class="divider-vertical-flex"></p-divider>

  <div class="m-3" style="width: 730px">
    <p-divider class="divider-horizontal-flex"></p-divider>

    <div class="flex flex-column overflow-auto" style="max-height: 95vh">
      <payment-order-item-card *ngFor="let cartInformation of orderStateService.state.orderEntityInformation"
                               [cardInformation]="cartInformation"
                               (removeEntityEvent)="orderStateService.removeOrderEntity(cartInformation.orderEntityId)">
      </payment-order-item-card>
    </div>

    <p-divider></p-divider>
    <div class="flex justify-content-between total-price-text">
      <span>Total</span>
      <span>{{UiHelper.FormatCurrency(orderStateService.state.order.totalPrice)}}</span>
    </div>
  </div>

</div>
