<div class="popup site-box bg-primary">
  <div class="header">
    <i class="pi pi-times cursor-pointer" style="font-size: 1.5rem" [mat-dialog-close]="true"></i>
  </div>

  <div class="content">
    <div class="flex justify-content-between align-items-center">
      <div class="title">Cart</div>
      <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
    </div>

    <p-divider styleClass="border-white bg-white"></p-divider>

  </div>

  <div class="footer">
    <p-button label="Continue shopping" styleClass="bg-primary-800  w-full uppercase"></p-button>
    <p-button label="Buy" styleClass="p-button-outlined p-button-secondary w-full uppercase mt-2"></p-button>
  </div>
</div>
