<div class="registration-popup">
  <button mat-icon-button matTooltip="Close" class="absolute top-0 right-0" [mat-dialog-close]="true">
    <mat-icon color="primary">close</mat-icon>
  </button>

  <h2 mat-dialog-title class="title">Sign up</h2>

  <hr class="w-full">

  <mat-dialog-content class="w-full">
    <form (ngSubmit)="signUp()" [formGroup]="registration">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com" [errorStateMatcher]="matcher">
        <mat-error
          *ngIf="registration.controls['email'].hasError('email') && !registration.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registration.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" placeholder="Richard" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registration.controls['firstName'].hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registration.controls['firstName'].hasError('minlength')">
          First Name should have at least 2 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName" placeholder="Richard" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registration.controls['lastName'].hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registration.controls['lastName'].hasError('minlength')">
          Last Name should have at least 2 characters
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-full mt-2">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" [errorStateMatcher]="matcher">
        <mat-icon title="Show/Hide Password" (click)="showPassword = !showPassword" matSuffix>
          {{showPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="registration.controls['password'].hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registration.controls['password'].hasError('minlength')">
          Password should have at least 8 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full mt-2">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registration.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <div class="flex justify-content-between">
        <span class="text-small">Or continue with...</span>
        <a href="#" class="text-small text-bright-grey">Don`t forget password?</a>
      </div>

      <button #submitButton class="hidden" type="submit"></button>
    </form>

    <mat-error *ngIf="registration.errors">
      <p *ngIf="registration.errors['http'] != null" style="text-align: center">{{registration.errors['http']}}</p>
    </mat-error>
  </mat-dialog-content>

  <section class="flex flex-column align-items-center w-full mt-3">
    <div class="flex justify-content-center">
      <img (click)="signUpViaFacebook()" ngSrc="assets/icons/social/facebook-dark.svg" alt="" height="46" width="46" class="additional-entry-icon" matTooltip="Sign in via Facebook">
      <img (click)="signUpViaGoogle()" ngSrc="assets/icons/social/google-dark.svg" alt="" height="46" width="46" class="additional-entry-icon" matTooltip="Sign in via Google">
    </div>

    <span class="text-small font-bold text-center mt-3 max-w-15rem">By logging/signing in with my social login, I agree to connect my account in accordance with the Privacy Policy</span>
  </section>

  <mat-dialog-actions class="grid w-full">
    <button (click)="submitButton.click()" mat-raised-button color="primary" title="Sign In" class="col uppercase">Sign Up</button>
  </mat-dialog-actions>
</div>
