<div class="flex flex-wrap justify-content-center">

  <div class="flex flex-column mx-3" style="max-width: 800px">
    <div class="flex justify-content-center">
      <img [src]="item.imagePath" style="width: 570px; height: 420px" alt="">
    </div>

    <div>
      <span class="reviews-text">Reviews</span>
      <div class="flex justify-content-end">
        <p-rating [cancel]="false"></p-rating>
      </div>

      <p-divider></p-divider>
    </div>
  </div>

  <div class="mx-3" style="max-width: 670px">
    <div class="flex justify-content-end">
      <p-button pTooltip="Add to compare filled" class="absolute" styleClass="p-button-text">
        <img alt="" ngSrc="assets/icons/filled-compare.svg" height="20" width="24">
      </p-button>
    </div>

    <div class="item-category my-4">{{item.category.name}}</div>

    <div class="item-name">{{item.name}}</div>

    <div class="item-description mt-2">{{item.description}}</div>

    <div class="flex justify-content-between align-items-center my-4">
      <div class="item-price">{{UiHelper.FormatCurrency(item.price)}}/kg</div>
      <span class="show-wholesale-prices">Show wholesale prices</span>

      <div class="flex align-items-center">
        <span class="p-float-label">
          <p-inputNumber #quantityValue label="test" inputId="integeronly"></p-inputNumber>
          <label [innerText]="isKgQuantity ? 'Quantity of kg' : 'Quantity of g'"></label>
        </span>
        <p-toggleButton [(ngModel)]="isKgQuantity" onLabel="Kg" offLabel="g"></p-toggleButton>
      </div>
    </div>

    <div class="flex flex-wrap mt-3">
      <p-button (click)="addToCart()" label="Add to cart" class="col" styleClass="p-button-rounded w-full uppercase"></p-button>
      <p-button label="Shop now" class="col-5" styleClass="p-button-outlined p-button-rounded w-full uppercase"></p-button>
    </div>

    <div class="flex flex-column mt-2">
      <div class="details">Details</div>

      <p-divider></p-divider>

      <table class="border-0">
        <tr *ngFor="let detail of itemDetails let i = index" [class]="i % 2 === 1 ? 'surface-hover': ''">
          <td class="details-left-text">{{detail.name}}</td>
          <td class="details-right-text">{{detail.value}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
