.section {
  padding: 50px 0;

  .objects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .supplier {
      padding: 18px 32px;
      color: white;
      margin: 0.5rem;
      background-color: var(--primary-color);
    }
  }
}
