<div class="popup">
  <div class="header">
    <i class="pi pi-times cursor-pointer" style="font-size: 1.5rem" [mat-dialog-close]="true"></i>
  </div>
  <div class="content flex flex-column">
    <div *ngIf="delivery.deliveryStatus.type !== DeliveryStatusType.InProcess">
      <div class="flex flex-column align-items-center justify-content-center">
        <span class="sub-title">Track where the courier is</span>

        <p-button label="Click here"></p-button>
      </div>
    </div>

    <div class="flex justify-content-center mt-2">
      <span class="sub-title">Notes</span>
    </div>
    <textarea [value]="delivery.notes" [autoResize]="true" rows="10" pInputTextarea readonly></textarea>

    <div class="flex justify-content-center mt-2">
      <span class="sub-title">List items</span>
    </div>
    <account-purchases-card [order]="delivery.order"></account-purchases-card>
  </div>
</div>
