<div class="popup">
  <div class="header">
    <i class="pi pi-times cursor-pointer" style="font-size: 1.5rem" [mat-dialog-close]="true"></i>
  </div>

  <div class="content">
    <h3 class="title">Sign up</h3>

    <p-divider></p-divider>

    <form (ngSubmit)="signUp()" [formGroup]="signUpFormGroup">
      <div class="field p-fluid">
        <input type="text" pInputText formControlName="email" placeholder="E-mail"/>
        <small *ngIf="signUpFormGroup.controls['email'].hasError('required') && isShowErrors" class="p-error">Email is <strong>required</strong></small>
        <small *ngIf="signUpFormGroup.controls['email'].hasError('email') && isShowErrors" class="p-error">Please enter a valid email address</small>
      </div>

      <div class="field p-fluid">
        <input type="text" pInputText formControlName="firstName" placeholder="First name"/>
        <small *ngIf="signUpFormGroup.controls['firstName'].hasError('required') && isShowErrors" class="p-error">First Name is <strong>required</strong></small>
        <small *ngIf="signUpFormGroup.controls['firstName'].hasError('minlength') && isShowErrors" class="p-error">First Name should have at least 2 characters</small>
      </div>

      <div class="field p-fluid">
        <input type="text" pInputText formControlName="lastName" placeholder="Last name"/>
        <small *ngIf="signUpFormGroup.controls['lastName'].hasError('required') && isShowErrors" class="p-error">Last Name is <strong>required</strong></small>
        <small *ngIf="signUpFormGroup.controls['lastName'].hasError('minlength') && isShowErrors" class="p-error">Last Name should have at least 2 characters</small>
      </div>

      <div class="field p-fluid">
        <p-password [toggleMask]="true" [feedback]="true" formControlName="password" placeholder="Password">
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
        <small *ngIf="signUpFormGroup.controls['password'].hasError('required') && isShowErrors" class="p-error">Password is <strong>required</strong></small>
        <small *ngIf="signUpFormGroup.controls['password'].hasError('minlength') && isShowErrors" class="p-error">Password should have at least 8 characters</small>
      </div>

      <div class="field p-fluid">
        <p-password [toggleMask]="true" [feedback]="false" formControlName="confirmPassword" placeholder="Confirm password"></p-password>
        <small *ngIf="signUpFormGroup.controls['confirmPassword'].hasError('passwordMismatch') && isShowErrors" class="p-error">Passwords do not match</small>
      </div>
      <button #submitButton class="hidden" type="submit"></button>
    </form>

    <div class="flex justify-content-between">
      <span class="text-small">Or continue with...</span>
      <a href="#" class="text-small text-bright-grey">Don`t forget password?</a>
    </div>

    <div class="flex flex-column align-items-center w-full mt-5">
      <div class="flex justify-content-center">
        <i (click)="signInViaFacebook()" class="pi pi-facebook additional-entry-icon" pTooltip="Sign in via Facebook" tooltipPosition="bottom"></i>
        <i (click)="signInViaGoogle()" class="pi pi-google additional-entry-icon" pTooltip="Sign in via Google" tooltipPosition="bottom"></i>
      </div>

      <span class="text-small font-bold text-center mt-3 max-w-15rem">By logging/signing in with my social login, I agree to connect my account in accordance with the Privacy Policy</span>
    </div>

    <div class="grid mt-3">
      <p-button (click)="submitButton.click()" label="Sign In" class="col" styleClass="p-button-rounded w-full uppercase"></p-button>
    </div>
  </div>
</div>
