:host {
  color: #197275;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  footer {
    padding: 35px 0;
    background-color: #272727;
  }

  .social-group {
    img {
      cursor: pointer;
      margin: 10px 20px;
    }
  }
}
