<header class="flex flex-row justify-content-around w-full">

  <div class="header-block w-3 p-4">
    <img (click)="this.routeHelper.goToHome()" ngSrc="assets/FCSeafood_Logo.svg" alt="" height="61" width="202" class="cursor-pointer">
  </div>

  <div class="header-block w-5 p-4">

  </div>

  <div class="header-block w-2 p-4" *ngIf="!authStateService.IsAuthorized">
    <button mat-button class="min-w-0 p-1" matTooltip="Accounts" (click)="openSignInPopup()">
      <img ngSrc="assets/icons/account.svg" height="34" width="34" alt="">
    </button>
  </div>

</header>
