<section class="first-purchase-section">
  <div class="h-full flex flex-column align-items-center">
    <span class="uppercase mt-8 text-4xl">First purchase?</span>
    <span class="my-7 text-xl">
      Be sure to check out all of our wide range of seafood products available. No matter what type of fish<br/>
      your heart desires, from deliciously exotic black sea bass to wild caught salmon, we have something<br/>
      for everyone that's sure to make your meal sparkle! Whether you need just one portion for a quick<br/>
      lunch or enough to feed your whole family - plus leftovers, too! - Fresh Catch has you covered.
    </span>
  </div>
</section>
