.first-purchase-section {
  background: url("/assets/images/home/home-bg-2.jpg") no-repeat center center;
  background-size: cover;

  div:first-child {
    background: rgba(7, 7, 7, 0.6);
    backdrop-filter: blur(4px);
  }
}
