<div class="account-page">

  <div>
    <span class="title">Account</span>
    <p-divider></p-divider>
  </div>

  <div class="content flex flex-column align-items-center justify-content-center">
    <span class="title">Enter new password</span>

    <form (ngSubmit)="confirm()" [formGroup]="refreshPasswordFormGroup" class="mt-4">
      <div class="field p-fluid">
        <p-password [toggleMask]="true" [feedback]="true" formControlName="password" placeholder="Password">
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
        <small *ngIf="refreshPasswordFormGroup.controls['password'].hasError('required') && isShowErrors" class="p-error">Password is <strong>required</strong></small>
        <small *ngIf="refreshPasswordFormGroup.controls['password'].hasError('minlength') && isShowErrors" class="p-error">Password should have at least 8 characters</small>
      </div>

      <div class="field p-fluid">
        <p-password [toggleMask]="true" [feedback]="false" formControlName="confirmPassword" placeholder="Confirm password"></p-password>
        <small *ngIf="refreshPasswordFormGroup.controls['confirmPassword'].hasError('passwordMismatch') && isShowErrors" class="p-error">Passwords do not match</small>
      </div>

      <p-button type="submit" label="Confirm" styleClass="w-full uppercase mt-4"></p-button>
    </form>

  </div>
</div>
